.disorder-result {
  display: inline-block;
  align-self: center;
  text-align: left;
  border-radius: 9px;
  padding: 0px 16px;
  box-shadow: 0px 4px 8px #bbbbbb;
  width: 90%;
  user-select: none;
}

.disorder-title {
  font-family: 'Merriweather', Times, serif;
  font-size: 18px;
  margin-bottom: 6px;
}

.disorder-title-modal{
  font-family: 'Merriweather', Times, serif;
  font-size: 24px;
  margin-bottom: 6px;
}

.disorder-category {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #666666;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.disorder-sub-category{
  font-family: 'Open Sans', Arial, sans-serif;
  color: #666666;
  font-size: 16px;
  margin-top: 0px;
}

.disorder-section-header {
  font-family: 'Merriweather', Times, serif;
  font-size: 16px;
  margin-bottom: 6px;
}

.disorder-diagnostic-criteria {
  font-family: 'Merriweather', Times, serif;
  font-size: 14px;
  margin-bottom: 6px;
}

.disorder-description {
  font-family: 'Merriweather', Times, serif;
  font-size: 14px;
  margin-bottom: 6px;
}

.disorder-modal{
  border-radius: 16px;
  padding: 16px 36px;
  padding-bottom: 30px;
  box-shadow: 0px 4px 8px #999;
  margin: 10vh 10vw;
  background-color: #ffffff;
  outline: none;
}

.close{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 24px;
  float: right;
  background: none;
  color: #333;
  border: none;
  outline: none;
}

.close:hover{
  color: #666;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 100ms;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.DisorderResult{
  margin-top: 50px;
}
