.disorder-result {
  display: inline-block;
  align-self: center;
  text-align: left;
  border-radius: 8px;
  padding: 0px 16px;
  box-shadow: 0px 4px 8px #bbbbbb;
  width: 90%;
  user-select: none;
}

.disorder-result:active{
  transform: translateY(2px);
  transition-duration: 5ms;
}

.disorder-title {
  font-family: 'Merriweather', Times, serif;
  font-size: 18px;
  margin-bottom: 6px;
}

.disorder-title-modal{
  font-family: 'Merriweather', Times, serif;
  font-size: 24px;
  margin-bottom: 6px;
  color: #fff;
}

.disorder-category {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #666666;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.disorder-category-modal {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #fff;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.disorder-sub-category{
  font-family: 'Open Sans', Arial, sans-serif;
  color: #999;
  font-size: 16px;
  margin-top: 0px;
}

.disorder-sub-category-modal{
  font-family: 'Open Sans', Arial, sans-serif;
  color: #fff;
  font-size: 16px;
  margin-top: 0px;
}

.disorder-section-header {
  font-family: 'Merriweather', Times, serif;
  font-size: 16px;
  margin-bottom: 6px;
}

.disorder-diagnostic-criteria {
  font-family: 'Merriweather', Times, serif;
  font-size: 14px;
  margin-bottom: 6px;
  text-align: justify;
}

.disorder-description {
  font-family: 'Merriweather', Times, serif;
  font-size: 14px;
  margin-bottom: 6px;
  text-align: justify;
}

.modal-header{
  /* background-color: #222; */
  background: linear-gradient(90deg, rgb(23, 128, 117) 0%, rgb(19, 156, 92) 100%);
  padding: 6px 50px;
}

.modal-body {
  padding: 16px 50px;
}

.disorder-modal{
  border-radius: 8px;
  /* padding: 16px 50px; */
  padding-bottom: 30px;
  box-shadow: 0px 4px 8px #999, 0px 0px 24px #ccc;
  margin: 10vh 10vw;
  background-color: #ffffff;
  outline: none;
  max-height: 90vh;/*calc(100vh - 210px);*/
  overflow-y: scroll;
}

.close{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 24px;
  margin: 16px;
  float: right;
  background: none;
  color: #fff;
  border: none;
  outline: none;
}

.close:hover{
  color: rgb(209, 209, 209);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 100ms;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.DisorderResult{
  margin-top: 50px;
}
