.login {
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
}

.login a {
  text-decoration: none;
  display: block;
  padding: 16px 50px;
  border-radius: 90px;
  text-align: center;
  background-color: #FFFFFF;
  color:#111111;
  margin: 16px 24px;
  font-size: 18px;
  transition-duration: 200ms;
}

.login a:hover{
  color:#000000;
  background-color: #dddddd;
}

.login a.profile-signup {
  color: #fff;
  background: rgb(71,221,206);
  background: linear-gradient(90deg, rgba(71,221,206,1) 0%, rgba(36,221,135,1) 100%);
}

.login a.profile-signup:hover {
  color: #fff;
  background: rgb(158,219,213);
  background: linear-gradient(90deg, rgba(158,219,213,1) 0%, rgba(138,217,180,1) 100%);
}

.profile a {
  text-decoration: none;
  display: block;
  padding: 16px 50px;
  border-radius: 90px;
  text-align: center;
  background-color: #000000;
  color:#FFFFFF;
  margin: 16px 24px;
  font-family: sans-serif;
  font-size: 18px;
  transition-duration: 200ms;
  background-image: url('./images/account_circle-24px.svg');
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 36px;
} 

.profile a:hover {
  color: #fff;
  background-color: #555;
}

.login-title-modal{
  font-family: 'Merriweather', Times, serif;
  font-size: 24px;
  margin-bottom: 6px;
  color: #fff;
}

.login-modal{
  border-radius: 8px;
  /* padding: 16px 50px; */
  padding-bottom: 30px;
  box-shadow: 0px 4px 8px #999, 0px 0px 24px #ccc;
  margin: 10vh 10vw;
  background-color: #ffffff;
  outline: none;
  max-height: 75vh;
  overflow-y: scroll;
}

.close{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 24px;
  margin: 16px;
  float: right;
  background: none;
  color: #fff;
  border: none;
  outline: none;
}


.login-modal-header{
  /* background-color: #222; */
  background: linear-gradient(90deg, rgb(23, 128, 117) 0%, rgb(19, 156, 92) 100%);
  padding: 6px 50px;
}

.login-modal-body {
  padding: 16px 50px;
}

.login-modal-section-header {
  font-family: 'Merriweather', Times, serif;
  font-size: 16px;
  margin-bottom: 6px;
}

.button-href {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.button-login {
  text-decoration: none;
  padding: 8px 25px;
  border-radius: 90px;
  color:#fff;
  background: rgb(71,221,206);
  background: linear-gradient(90deg, rgba(71,221,206,1) 0%, rgba(36,221,135,1) 100%);
  font-size: 16px;
  
}

.button-login:hover {
  text-decoration: none;
  padding: 8px 25px;
  border-radius: 90px;
  color: #fff;
  background: rgb(158,219,213);
  background: linear-gradient(90deg, rgba(158,219,213,1) 0%, rgba(138,217,180,1) 100%);
}

.registration-title-modal{
  font-family: 'Merriweather', Times, serif;
  font-size: 24px;
  margin-bottom: 6px;
  color: #fff;
}

.registration-modal{
  border-radius: 8px;
  /* padding: 16px 50px; */
  padding-bottom: 30px;
  box-shadow: 0px 4px 8px #999, 0px 0px 24px #ccc;
  margin: 10vh 10vw;
  background-color: #ffffff;
  outline: none;
  max-height: 75vh;
  overflow-y: scroll;
}

.registration-modal-header{
  /* background-color: #222; */
  background: linear-gradient(90deg, rgb(23, 128, 117) 0%, rgb(19, 156, 92) 100%);
  padding: 6px 50px;
}

.registration-modal-body {
  padding: 16px 50px;
}

.registration-modal-section-header {
  font-family: 'Merriweather', Times, serif;
  font-size: 16px;
  margin-bottom: 6px;
}

.button-registration {
  text-decoration: none;
  padding: 8px 25px;
  border-radius: 90px;
  color:#fff;
  background: rgb(71,221,206);
  background: linear-gradient(90deg, rgba(71,221,206,1) 0%, rgba(36,221,135,1) 100%);
  font-size: 16px;
  
}

.button-registration:hover {
  text-decoration: none;
  padding: 8px 25px;
  border-radius: 90px;
  color: #fff;
  background: rgb(158,219,213);
  background: linear-gradient(90deg, rgba(158,219,213,1) 0%, rgba(138,217,180,1) 100%);
}