<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="Web site created using create-react-app" <!-- Google Web Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:600,700,800i&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/96ea0241cf.js" crossorigin="anonymous"></script>

  <!-- Attribution for the book image on the homepage
    <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by freepik - www.freepik.com</a>
  Put this somewhere visible if we ever deploy -->
  <title>Main Page</title>
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
  <div id="portal"></div>

</body>

</html>
