.disorder-result {
  display: inline-block;
  text-align: left;
  border-radius: 8px;
  width: 100%;
  user-select: none;
  margin-top: 0px;
  margin-bottom: 0px;
  transition-duration: 200ms;
  padding: 0px;
}

.disorder-result:hover {
  transition-duration: 200ms;
  box-shadow: 0px 0px 8px #bbbbbb;
  border-radius: 8px;
}

.disorder-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.forum-link {
  font-family: 'Open Sans', Arial, sans-serif;
  border-radius: 90px;
  border: none;
  color: #fff;
  background: linear-gradient(90deg, rgba(71,221,206,1) 0%, rgba(36,221,135,1) 100%);
  padding: .3em 1.25em;
  margin: .75em 1%;
  /* max-height: 2em; */
}

.forum-link:hover {
  background: linear-gradient(90deg, rgba(158,219,213,1) 0%, rgba(138,217,180,1) 100%);
  cursor: pointer;
}

.disorder-title {
  font-family: 'Merriweather', Times, serif;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 6px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
}

.disorder-title:hover {
  cursor: pointer;
}

.disorder-title-modal{
  font-family: 'Merriweather', Times, serif;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 6px;
  color: #fff;
}

.disorder-category {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #666666;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 90%;
  margin-left: 1%;
  margin-right: 1%;
}

.disorder-category:hover {
  cursor: pointer;
}

.disorder-category-modal {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #fff;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.disorder-sub-category{
  font-family: 'Open Sans', Arial, sans-serif;
  color: #999;
  font-size: 16px;
  margin-top: 0px;
  width: 90%;
  margin-left: 1%;
  margin-right: 1%;
}

.disorder-sub-category:hover {
  cursor: pointer;
}

.disorder-sub-category-modal{
  font-family: 'Open Sans', Arial, sans-serif;
  color: #fff;
  font-size: 16px;
  margin-top: 0px;
}

.disorder-section-header {
  font-family: 'Merriweather', Times, serif;
  font-size: 16px;
  margin-bottom: 6px;
}

.disorder-diagnostic-criteria {
  font-family: 'Merriweather', Times, serif;
  font-size: 14px;
  margin-bottom: 6px;
  text-align: justify;
}

.disorder-description {
  font-family: 'Merriweather', Times, serif;
  font-size: 14px;
  margin-bottom: 6px;
  text-align: justify;
}

.modal-header{
  /* background-color: #222; */
  background: linear-gradient(90deg, rgb(23, 128, 117) 0%, rgb(19, 156, 92) 100%);
  padding: 6px 50px;
}

.modal-body {
  padding: 16px 50px;
}

.disorder-modal{
  border-radius: 8px;
  /* padding: 16px 50px; */
  padding-bottom: 30px;
  box-shadow: 0px 4px 8px #999, 0px 0px 24px #ccc;
  margin: 10vh 10vw;
  background-color: #ffffff;
  outline: none;
  max-height: 75vh;
  overflow-y: scroll;
}

.close{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 24px;
  margin: 16px;
  float: right;
  background: none;
  color: #fff;
  border: none;
  outline: none;
}

.close:hover{
  color: rgb(209, 209, 209);
  cursor: pointer
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 100ms;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}
