.index-list-con{
    background-color: rgb(252, 246, 239);
    border-radius: 30px;
    width: 80vw;
    min-height: 50vw;
    margin: auto;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size:  1rem;
    box-shadow: 0px 4px 8px #bbbbbb;
    padding: 2rem;
}

.col{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.index-list li{
    margin: 2rem;
}

.index-list li a{
    color: black;

}

@media only screen and (max-width: 768px){
    .col{
        width: 100%;
    }
}

.dsm-index {
  padding-left: 0.5em;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #007998;
}

.dsm-index::after {
  content: "  |";
}
