.index-list-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    width: 80vw;
    min-height: 50vw;
    margin: auto;
    margin-bottom: 5vh;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size:  1rem;
    box-shadow: 0px 4px 8px #bbbbbb;
    padding: 1rem;
}

.index-header {
    text-align: center;
    font-family: 'Merriweather', Times, serif;
    font-size: 2em;
    margin-top: 2%;
    margin-bottom: 2%;
}

.col{
    width: 90%;
    display: inline-block;
    vertical-align: top;
}

.letters {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.index-list li{
    margin: 1rem;
}

.index-list li a{
    color: black;
    font-family: 'Merriweather', Times, serif;
    font-size: 1.25em;

}

@media only screen and (max-width: 768px){
    .col{
        width: 100%;
    }
}

.dsm-index {
  padding-left: 0.5em;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #007998;
}

.dsm-index::after {
  content: "  |";
  color: #bbb
}
