/*This styling is very similar to DisorderResult.css*/

.line-1 {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.post-title {
  text-align: left;
  font-family: 'Merriweather', Times, serif;
  font-size: 18px;
  margin-left: 12px;
  /* margin-bottom: 0px; */
  padding: 0px;
}

.post-information {
  text-align: left;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 12px;
  margin-left: 12px;
  margin-top: 0px;
  padding: 0px;
  color: #666666;
}

.post-category {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  margin-left: 24px;
  color: #000;
  background-color: #e0e0e0;
  padding: 2px 16px;
  border-radius: 90px;
}