.home-content {
  /* text-align: center; */
  /* padding-bottom: 10vh; */
  background-image: url('./images/blue-books@2x.png');
  background-repeat: no-repeat;
  background-position: 30vw 40vh;
  background-size: 85%;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
  }

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 10vw;
  
}

.landing-title {
  font-family: 'Merriweather', Arial, sans-serif;
  width: 50vw;
  /* font-size: 72px;
  margin-top: 2vh;
  margin-bottom: 10px;
  margin-left: 16px; */
  font-size: 4rem;
  margin-top: 2vh;
  margin-bottom: 1rem;
  margin-left: 1rem;

}

.landing-subtitle {
  font-family: 'Open Sans', Arial, sans-serif;
  /* font-size: 24px; */
  color: #888;
  /* margin-bottom: 40px;
  margin-left: 16px; */
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

@media (max-width: 1023px) { 
  .landing-title {
    font-size: 2rem;
    width: 100%;
  }
}
