body {
  margin: 0;
  font-family: -apple-systrem, BlinkMacSystremFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  background: rgb(165, 165, 165);
}

button:disabled:hover {
  background: rgb(165, 165, 165);
}

* {
  box-sizing: border-box;
}

.form-group {
  white-space: pre;
  padding-top: 1rem;
}

.mt-2{
  margin-top: 2rem;
}

.mt-5{
  margin-top: 5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.px-1{
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-2{
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-2{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-3{
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-3{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.form-group label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.btn {
  padding: 0.5rem 0.5rem;
  line-height: 1.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid #c8c8c8;
  background-color: #58cf85;
}

.btn:active {
  background-color: #279f43;
  box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,.15);
}
