.top-bar {
  display: flex;
  justify-content: space-between;
}

.homepage {
  text-decoration: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: italic;
  font-size: 30px;
  font-weight: 800;
  color: #000;
  margin-left: 10vw;
  margin-top: 22px;
}

.navbar {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 5vh;
}

.navbar a {
  font-family: 'Open Sans', Arial, sans-serif;
  text-decoration: none;
}

.navbar a.nav-item {
  display: block;
  padding: 16px 50px;
  border-radius: 90px;
  text-align: center;
  background-color: #ffffff;
  color:#111111;
  margin: 16px 24px;
  font-size: 18px;
  transition-duration: 200ms;
}

.navbar a.nav-item:hover {
  color:#000000;
  background-color: #dddddd;
}

.navbar a.signup {
  color: #fff;
  background: linear-gradient(90deg, rgba(71,221,206,1) 0%, rgba(36,221,135,1) 100%);
}

.navbar a.signup:hover {
  color: #fff;
  background: linear-gradient(90deg, rgba(158,219,213,1) 0%, rgba(138,217,180,1) 100%);
}

.navbar a.registration {
  color: #fff;
  background: #000;
  font-weight: bold;
}
