.col-left{
  width: 20%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.col-right{
  width: 80%;
  display: inline-block;
  vertical-align: top;
}

.form-control {
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.profile-personal-info {
  width: 60%;
  border: 0.1vh solid #999999; 
  padding: 1.5vh;
  overflow: auto;
}


.about { 
  width: 60%; 
  border: 0.1vh solid #999999; 
  padding: 1.5vh; 
  overflow: auto;
  min-height: 8em;
	max-height: 70vh;
}



.profile-card{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    width: 80vw;
    margin: auto;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size:  1rem;
    box-shadow: 0px 4px 8px #bbbbbb;
    padding: 2rem;
}


.button-update-info {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  color:#fff;
  background: rgb(71,221,206);
  background: linear-gradient(90deg, rgba(71,221,206,1) 0%, rgba(36,221,135,1) 100%);
  font-size:  1rem;

}

.button-update-info:hover {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  color: #fff;
  background: rgb(158,219,213);
  background: linear-gradient(90deg, rgba(158,219,213,1) 0%, rgba(138,217,180,1) 100%);
}


.login {
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
}

.profile-title-modal{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size:  2rem;
  margin-bottom: 1rem;
  color: #fff;
}

.profile-modal-header{
  /* background-color: #222; */
  background: linear-gradient(90deg, rgb(23, 128, 117) 0%, rgb(19, 156, 92) 100%);
  padding: 1rem 2rem;
}


.profile-modal-section-header {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size:  1rem;
}

.profile-verified-yes {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size:  1rem;
  color: green;
}

.profile-verified-no {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size:  1rem;
  color: red;
}

.profile-user-image-display{
  margin: auto;
  height: 8em;
  width: 8em;
  border: 1px solid black;
}

.profile-user-image-edit-button{
  background: none;
  border: none;
  padding: 0;
  color: #0000EE;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1 rem;
}

.profile-div-white-space {
  display: block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size:  1rem;
}

.profile-update-info-button {
  white-space: pre;
  padding-top: 2rem;
}

@media only screen and (max-width: 1314px){
  .profile-personal-info {
    width: 95%;
    border: 0.1vh solid #999999; 
    padding: 1.5vh;
    overflow: auto;
  }
  
  
  .about { 
    width: 95%; 
    border: 0.1vh solid #999999; 
    padding: 1.5vh; 
    overflow: auto;
    min-height: 8em;
    max-height: 70vh;
  }
	
  .col-left{
    width: 100%;
  }
	
  .col-right{
    width: 100%;
  }
  

}

@media only screen and (max-width: 768px){
  .col-left{
    width: 100%;
  }
  .col-right{
    width: 100%;
  }
  .profile-personal-info {
    width: 95%;
    border: 0.1vh solid #999999; 
    padding: 0.5vh;
    overflow: auto;
  }
  .about {
    width: 95%;
    border: 0.1vh solid #999999; 
    padding: 0.5vh;
    overflow: auto;
  }

  .profile-card{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    width: 99vw;
    margin: auto;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size:  1rem;
    box-shadow: 0px 0px 0px #bbbbbb;
    padding: 0.1rem;
  }
}
