.registration-title-modal{
  font-family: 'Merriweather', Times, serif;
  font-size: 24px;
  margin-bottom: 6px;
  color: #fff;
}

.registration-modal-header{
  /* background-color: #222; */
  background: linear-gradient(90deg, rgb(23, 128, 117) 0%, rgb(19, 156, 92) 100%);
  padding: 6px 50px;
}

.registration-modal-body {
  padding: 16px 50px;
}

.registration-modal-section-header {
  font-family: 'Merriweather', Times, serif;
  font-size: 16px;
  margin-bottom: 6px;
}

.button-registration {
  text-decoration: none;
  padding: 8px 25px;
  border-radius: 90px;
  color:#fff;
  background: rgb(71,221,206);
  background: linear-gradient(90deg, rgba(71,221,206,1) 0%, rgba(36,221,135,1) 100%);
  font-size: 16px;

}

.button-registration:hover {
  text-decoration: none;
  padding: 8px 25px;
  border-radius: 90px;
  color: #fff;
  background: rgb(158,219,213);
  background: linear-gradient(90deg, rgba(158,219,213,1) 0%, rgba(138,217,180,1) 100%);
}
