.registration-title-modal{
  font-family: 'Merriweather', Times, serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.registration-modal-header{
  /* background-color: #222; */
  background: linear-gradient(90deg, rgb(23, 128, 117) 0%, rgb(19, 156, 92) 100%);
  padding: 0.4rem 4rem;
}

.registration-modal-body {
  padding: 1rem 3rem;
}


#button-registration {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  color:#fff;
  background: rgb(71,221,206);
  background: linear-gradient(90deg, rgba(71,221,206,1) 0%, rgba(36,221,135,1) 100%);
  font-size:  1rem;
  width: 15%;

}

#button-registration:hover {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  color: #fff;
  background: rgb(158,219,213);
  background: linear-gradient(90deg, rgba(158,219,213,1) 0%, rgba(138,217,180,1) 100%);
}

@media only screen and (max-width: 987px){
  #button-registration {
    width:60%;
  }
}