.results-search {
  width: 95%;
  height: 100%;
  margin: auto;
  padding: 1em 4em;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  border: none;
  border-radius: 90px;
  box-shadow: 0px 3px 8px #aaa;
  transition-duration: 300ms;
  background-image: url('./images/search-24px.svg');
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 36px;
}

.results-search:focus {
  width: 95%;
  box-shadow: 0px 3px 12px #999;
  outline: none;
}

.results-search:placeholder-shown {
  text-overflow: ellipsis;
  opacity: 1;
  transition-duration: .5s;
}

.results-search:focus::placeholder {
  text-overflow: ellipsis;
  opacity: 0;
  transition-duration: .5s;
}

input[type=submit] {
  visibility: hidden;
}
