.search {
  width: 44%;
  height: 100%;
  padding: 16px 54px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 90px;
  box-shadow: 0px 3px 8px #aaaaaa;
  transition-duration: 300ms;
  background-image: url('./images/search-24px.svg');
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 36px;
}

.search:focus {
  width: 47%;
  box-shadow: 0px 3px 12px #999999;
  outline: none;
}

input[type=submit] {
  visibility: hidden;
}
