.search-results-title {
  /* text-align: left; */
  float: left;
  font-family: 'Open Sans', Arial, sans-serif;
}

.search-margin {
  padding: 0 4vw;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-results-container{
  border-radius: 8px;
  padding: .5rem 1rem;
  box-shadow: 0px 4px 8px #bbbbbb; /* absolutle units don't matter here */
  width: 85%;
  align-self: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 24px;
}

.number-of-entries{
  font-family: 'Open Sans', Arial, sans-serif;
  text-align: left;
  color: #666;
  font-size: 16px;
  padding-top: 0px;
  margin-left: 48px;
}

.no-results {
  font-family: 'Open Sans', Arial, sans-serif;
  text-align: center;
  font-size: 24px;
  padding-top: 8px;
}

.resultlist{
  display: flex;
  margin-top: 0px;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 24px;
}

.sortedBy {
  font-family: 'Open Sans', Arial, sans-serif;
  color: gray;
  text-align: left;
  /* margin-left: 40px; */
  margin-left: 4em;
  margin-bottom: 0;
}
