.search {
  width: 50%;
  height: 100%;
  padding: 16px 54px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 90px;
  box-shadow: 0px 3px 8px #aaaaaa;
  transition-duration: 300ms;
  background-image: url('./images/search-24px.svg');
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 36px;
}

.search:focus {
  width: 55%;
  box-shadow: 0px 3px 12px #999999;
  outline: none;
}

.search:placeholder-shown {
  text-overflow: ellipsis;
  opacity: 1;
  transition-duration: .5s;
}

.search:focus::placeholder {
  text-overflow: ellipsis;
  opacity: 0;
  transition-duration: .5s;
}

@media (max-width: 399px) { 
  form.large { display: none; }
  form.small { display: inline-block; }
}

@media (min-width: 400px) { 
  form.small { display: none; }
  form.large { display: inline-block; width: 100%; }
}

input[type=submit] {
  visibility: hidden;
}
