.sortbyList {
    list-style: none;
    position: absolute;
    background-color: rgb(243, 241, 241);
    padding: 0;
    width: 160px;
    box-shadow: 0px 4px 8px #bbbbbb;
    border-radius: 16px;
}

.sortbyList li {
    padding: 0.5rem 0;
    border-radius: 16px;
}

.sortbyList li:hover {
   background-color: rgba(71,221,206,1);
}

.sortbyList li:active{
    background-color: rgba(71,221,206,1);
 }
.sortbyList-container {
    width: 10rem;
    float: right;
    text-align: center;
    font-family: 'Open Sans', Arial, sans-serif;
    margin-top: 2rem;
    cursor: pointer;
}

.sortby-header-title {
    text-decoration: underline;
}

.selectedListItem {
    background-color: rgba(71,221,206,1);
}