.sortbyList {
    list-style: none;
    position: absolute;
    background-color: #fff;
    padding: 0;
    width: 160px;
    box-shadow: 0px 4px 8px #bbbbbb;
    border-radius: 20px;
}

.sortbyList li {
    padding: 0.5rem 0;
    margin: .2em;
    border-radius: 90px;
    transition-duration: 100ms;
}

.sortbyList li:hover {
   background-color: rgba(71,221,206,1);
   transition-duration: 100ms;
   color: #fff;
}

.sortbyList li:active{
    background-color: rgba(71,221,206,1);
 }
.sortbyList-container {
    width: 10rem;
    float: right;
    text-align: center;
    font-family: 'Open Sans', Arial, sans-serif;
    margin-top: 2rem;
    cursor: pointer;
}

.sortby-header-title {
    text-decoration: underline;
}

.selectedListItem {
    background-color: rgba(71,221,206,1);
}