.taglist {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 3em;
  margin-right: 3em;
  text-align: left;
}

.taglist .tag-btn {
  font-family: 'Open Sans', Arial, sans-serif;
  color:#000000;
  background-color: #dddddd;
  padding: 5px 10px;
  margin-right: 1em;
  margin-bottom: 0.5em;
  border-radius: 1px;
  font-size: 1em;
  border-style: none;
  cursor: pointer;
}

.taglist .tag-btn:hover {
  color:#fffff0;
  background: #666;
  transition-duration: 200ms;
}

.taglist .tag-btn-selected {
  color:#fffff0;
  background: linear-gradient(90deg, rgba(71,221,206,1) 0%, rgba(36,221,135,1) 100%);
  transition-duration: 200ms;
}

.taglist .tag-btn span {
  margin-right: 1em;
}

.taglist .tag-btn i {
  margin-left: 5px;
}
