body.home-content {
  /* text-align: center; */
  padding-bottom: 50vh;
  background-image: url('./images/books@2x.png');
  background-repeat: no-repeat;
  background-position: 30vw 30vh;
  background-size: 85%;
}

::-webkit-scrollbar {
  display: none;
  }

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 10vw;
}

.landing-title {
  font-family: 'Merriweather', Arial, sans-serif;
  width: 50vw;
  font-size: 72px;
  margin-top: 2vh;
  margin-bottom: 10px;
  margin-left: 16px;
}

.landing-subtitle {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 24px;
  color: #888;
  margin-bottom: 40px;
  margin-left: 16px;
}

