.navbar {
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
}

.navbar a {
  text-decoration: none;
  display: block;
  padding: 16px 50px;
  border-radius: 90px;
  text-align: center;
  background-color: #ffffff;
  color:#111111;
  margin: 16px 48px;
  font-family: sans-serif;
  font-size: 18px;
  transition-duration: 200ms;
}

.navbar a.profile-signup {
  color: #fff;
  background-color: #000000;
}

.navbar a.profile-signup:hover {
  color: #fff;
  background-color: #555;
}

.navbar > a:hover{
  color:#000000;
  background-color: #dddddd;
}